/*
order for responsive webdesign chages

Base + Typography > general layout + grid > page layout > components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 62%; } }
  @media (max-width: 900px) {
    html {
      font-size: 55%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  margin: 0 2rem;
  background-color: #eee; }
  @media (max-width: 900px) {
    body {
      margin: 0 0; } }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem; }

.header__primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .header__primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1rem;
    animation: moveInLeft 1s ease-in; }
    @media (max-width: 780px) {
      .header__primary--main {
        letter-spacing: 0.5rem;
        font-size: 5rem; } }
  .header__primary--sub {
    display: block;
    font-weight: 400;
    animation: moveInRight 1s ease-in; }
    @media (max-width: 780px) {
      .header__primary--sub {
        letter-spacing: 5px; } }

.about__header {
  color: #55c57a;
  font-size: 4rem;
  text-align: center; }
  .about__header__text {
    font-weight: 200;
    letter-spacing: 0.75rem; }
    @media (max-width: 900px) {
      .about__header__text {
        letter-spacing: 0.5rem; } }
    @media (max-width: 780px) {
      .about__header__text {
        letter-spacing: 0.25rem; } }
  @media (max-width: 900px) {
    .about__header {
      font-size: 4rem; } }
  @media (max-width: 780px) {
    .about__header {
      font-size: 3.5rem; } }

.header__sub {
  color: #000;
  font-size: 2.5rem;
  font-weight: 100;
  border-bottom: 1px solid black;
  width: 80%;
  margin: 0 auto; }

.headline-info {
  font-size: 2.5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #414141; }

.u-margin-bot--small {
  margin-bottom: 2rem; }

.u-margin-bot--medium {
  margin-bottom: 4rem; }

.u-margin-bot--large {
  margin-bottom: 12rem; }

.u-margin-bot--huge {
  margin-bottom: 24rem; }

.u-margin-top--small {
  margin-top: 2rem; }

.u-margin-top--medium {
  margin-top: 6rem; }

.u-margin-top--large {
  margin-top: 12rem; }
  @media (max-width: 1200px) {
    .u-margin-top--large {
      margin-top: 8rem; } }
  @media (max-width: 900px) {
    .u-margin-top--large {
      margin-top: 6rem; } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
  transform: scale(1.1); }

.btn__green {
  color: #fff;
  border: 1px solid #fff;
  background-color: #55c57a; }

.btn--animation {
  animation: moveUp 1s ease-in; }

.btn--white {
  color: #000;
  border: 1px solid #eee;
  background-color: #fff; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url("../img/Indy.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
  position: relative;
  background-position: bottom;
  background-size: cover; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo-img {
    height: 15rem; }
    @media (max-width: 780px) {
      .header__logo-img {
        height: 12rem; } }

.gallery {
  position: relative; }
  .gallery:hover .gallery__photo:not(:hover) {
    transform: scale(0.8); }
  .gallery__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 2rem;
    border-radius: 5px; }
    @media (max-width: 780px) {
      .gallery__photo {
        position: relative;
        border-radius: 100%; } }
    .gallery__photo:hover {
      transform: scale(1.3);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 15; }
    .gallery__photo--p1 {
      left: 0;
      top: -2rem;
      width: 20rem;
      z-index: 15; }
      @media (max-width: 780px) {
        .gallery__photo--p1 {
          display: block;
          margin: 0 auto;
          border: 5px solid #55c57a;
          width: 25rem; } }
    .gallery__photo--p2 {
      right: -4rem;
      top: 4rem;
      width: 21rem; }
      @media (max-width: 780px) {
        .gallery__photo--p2 {
          display: none; } }
    .gallery__photo--p3 {
      left: 25%;
      top: 16rem;
      width: 27rem; }
      @media (max-width: 780px) {
        .gallery__photo--p3 {
          display: none; } }
    .gallery__photo--p4 {
      left: 2rem;
      top: 32rem;
      width: 20rem; }
      @media (max-width: 780px) {
        .gallery__photo--p4 {
          display: none; } }
    .gallery__photo--p5 {
      right: 1rem;
      top: 32rem;
      width: 20rem;
      height: 30rem; }
      @media (max-width: 780px) {
        .gallery__photo--p5 {
          display: none; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 58rem; }
  .card__side {
    height: 58rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 1.5rem 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      color: #fff;
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/nova2.jpg);
      background-position: center;
      height: 23rem; }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../img/Laerke.jpg);
      background-position: center;
      height: 23rem; }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/Gucci5.jpg);
      height: 23rem;
      background-position: center; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-deocation-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card__details {
    color: #222;
    padding: 3rem; }
  .card ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card ul li {
      text-align: center;
      font-size: 1.6rem;
      padding: 1rem; }
      .card ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__back-info {
    color: #fff;
    margin: 2rem; }
  .card__call-to-action {
    position: absolute;
    bottom: -17%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-kr {
    font-size: 6rem;
    font-weight: 100; }

.pop-up {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  transform: scale(0.25); }
  .pop-up:target {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  .pop-up__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    height: 60%;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.9); }
    @media (max-width: 780px) {
      .pop-up__box {
        height: 95%;
        width: 80%; } }
    .pop-up__box__left {
      width: 75%;
      float: left; }
      @media (max-width: 780px) {
        .pop-up__box__left {
          width: 100%; } }
    .pop-up__box__right {
      height: 100%;
      width: 25%;
      float: right;
      position: relative; }
      @media (max-width: 780px) {
        .pop-up__box__right {
          display: none; } }
      .pop-up__box__right__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: 95%;
        border-radius: 75%;
        border: 4px solid #55c57a;
        box-shadow: 1.5rem 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .pop-up__box__close, .pop-up__box:link, .pop-up__box:visited {
      text-align: center;
      width: 3.2rem;
      height: 3.2rem;
      text-decoration: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 3rem;
      background-color: #fff;
      color: #55c57a;
      border-radius: 100px;
      line-height: 1;
      transition: all 0.3s; }

@media screen and (max-width: 780px) and (orientation: portrait) {
  .pop-up__box__close, .pop-up__box:link, .pop-up__box:visited {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 2.8rem;
    top: 0%;
    right: 0%; } }
      .pop-up__box__close:hover, .pop-up__box:link:hover, .pop-up__box:visited:hover {
        background-color: #55c57a;
        color: #fff;
        transform: rotate(90deg) scale(1.15); }
  .pop-up__text-box {
    font-size: 1.8rem; }
    .pop-up__text-box__text {
      float: left;
      margin-left: 2rem;
      width: 46%; }
      @media (max-width: 780px) {
        .pop-up__text-box__text {
          float: none;
          width: 90%;
          margin-bottom: 0.5rem;
          margin-right: 2rem; } }
    .pop-up__text-box__list {
      width: 46%;
      float: right; }
      @media (max-width: 780px) {
        .pop-up__text-box__list {
          float: none;
          width: 80%;
          margin-left: 3rem; } }
  .pop-up__kontakt {
    position: absolute;
    bottom: 0;
    left: 33%;
    transform: translate(-50%, -50%); }
    @media (max-width: 780px) {
      .pop-up__kontakt {
        width: 100%;
        margin: 0 2rem;
        bottom: 0;
        left: 50%; } }
  @media screen and (max-width: 780px) and (orientation: landscape) {
    .pop-up__kontakt {
      left: 85%; } }

.row {
  max-width: 80%;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .row {
      max-width: 100%; } }
  @media (max-width: 780px) {
    .row {
      max-width: 100%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col"] {
    float: left; }
    @media (max-width: 780px) {
      .row [class^="col"] {
        width: 100%;
        padding: 0 4rem; } }
    .row [class^="col"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 780px) {
        .row [class^="col"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }

.col-1-of-2 {
  width: calc((100% - 4rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2* 4rem)/3); }

.col-2-of-3 {
  width: calc((100% - 2* 4rem)*(2/3) + 4rem); }

.col-1-of-4 {
  width: calc((100% - 3* 4rem)/4); }

.col-2-of-4 {
  width: calc((100% - 3* 4rem) * (2/4) + 4rem); }

.col-3-of-4 {
  width: calc((100% - 3* 4rem) * (3/4) + 2*4rem); }

.about__text-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px; }

.info {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.6), rgba(86, 67, 250, 0.6)), url(../img/skov.jpg);
  min-height: 70rem;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  background-position: bottom;
  background-size: cover; }
  @media (max-width: 780px) {
    .info {
      clip-path: polygon(0 0, 100% 1.5%, 100% 100%, 0 98.5%);
      min-height: 160rem; } }
  .info__box {
    height: 45rem;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 12.5rem;
    transition: all 0.6s;
    color: #414141; }
    @media (max-width: 780px) {
      .info__box {
        height: 30rem;
        margin-top: 4rem; } }
    @media (max-width: 780px) {
      .info__box--big {
        height: 60rem;
        margin-top: 4rem; } }
    .info__box:hover {
      box-shadow: 2rem 2rem 3rem rgba(255, 255, 255, 0.4);
      transform: translateY(-4px); }
    .info__box__text {
      padding: 2rem 1.5rem 1rem 1.5rem; }
    .info__box__clicker {
      text-decoration: none; }
      .info__box__clicker:after {
        text-decoration: none; }
  .info__location {
    padding: 2rem 1.5rem 1rem 1.5rem; }

.other__text-box {
  text-align: center;
  height: 35rem;
  color: #000;
  background-color: white;
  border-radius: 5px;
  position: relative;
  border: 4px solid #55c57a; }
  .other__text-box:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15); }

.other__walking__text {
  padding: 2rem 1.5rem; }

.container {
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.5), rgba(255, 119, 48, 0.8)), url(../img/grass.jpg);
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0 100%);
  margin-top: 3rem;
  text-align: center;
  padding-bottom: 2rem; }
  .container__kontakt {
    padding-top: 2rem;
    color: #fff;
    font-size: 1.8rem; }
    .container__kontakt a {
      display: inline-block;
      width: 80%;
      color: inherit;
      transition: all 0.2s; }
      .container__kontakt a:link, .container__kontakt a:visited {
        text-decoration: none; }
      .container__kontakt a:hover {
        cursor: pointer;
        transform: scale(1.2); }
