$Lightgreen: #7ed56f;
$Mediumgreen: #55c57a;
$Darkgreen: #28b485;

$color-secondary-yellow1:#ffb900;
$color-secondary-yellow2:#ff7730;

$color-secondary-blue1:#2998ff;
$color-secondary-blue2:#5643fa;

$color-black: #000;
$color-white: #fff;

$color-light-grey:eee;
