$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;

$color-secondary-yellow1:#ffb900;
$color-secondary-yellow2:#ff7730;

$color-secondary-blue1:#2998ff;
$color-secondary-blue2:#5643fa;

$color-black: #000;
$color-white: #fff;

$color-light-grey1: #eee;

$color-text-grey:#222;  
$color-text-grey2:#414141;

//$gutter-vertical
$gutter-vertical:6rem;

$gutter-horizontal:4rem;