.gallery{
    position: relative;
    &:hover &__photo:not(:hover){
    transform: scale(0.8);
    }

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        transition: all .2s;
        z-index: 10;
        outline-offset: 2rem;
        border-radius: $border-radius-std;
        @include respond(tab-horizonta){

        }
        @include respond(phone){
            position: relative;
            border-radius: 100%;
            
        }
        
        &:hover{
            transform: scale(1.3);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 15;

        }
        &--p1{
            left:0;
            top:-2rem;
            width: 20rem;
            z-index:15;

            @include respond(phone){
                display: block;
                margin: 0 auto;
                border: 5px solid $medium-green;
                width: 25rem;

            }
        }
        &--p2{
            right:-4rem;
            top:4rem;
            width: 21rem;

            @include respond(phone){
                display: none;  
            }
        }
        &--p3{
            left:25%;
            top:16rem;
            width: 27rem;

            @include respond(phone){
                display: none;
                
                
            }
        }
        &--p4{
            left:2rem;
            top: 32rem;
            width: 20rem;

            @include respond(phone){
                display: none;
                
                
            }
        }
        &--p5{
            right:1rem;
            top:32rem;
            width: 20rem;
            height: 30rem;

            

            @include respond(phone){
                display: none;
                
                
            }
        }
    }
}