body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}


.header__primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 100;
        letter-spacing: 1rem;
        animation: moveInLeft 1s ease-in;

        @include respond(phone){
        letter-spacing: 0.5rem;
        font-size: 5rem;
        }
    }
    &--sub{
        display: block;
        font-weight: 400;
        animation:  moveInRight 1s ease-in;

        @include respond(phone){
            letter-spacing: 5px;
        
        }
    }
}
.about__header{
    color: $medium-green;
    font-size: 4rem;
    text-align: center;
    &__text{
        font-weight: 200;
        letter-spacing: 0.75rem;

        @include respond(tab-horizontal){
            letter-spacing: 0.5rem;
        }

        @include respond(phone){
            letter-spacing: 0.25rem;
        }
        
    }
    @include respond(tab-horizontal){
        font-size: 4rem;
    }
    @include respond(phone){
        font-size: 3.5rem;

    }
}
.header__sub{
    color:$color-black;
    font-size: 2.5rem;
    font-weight: 100;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
}
.headline-info{
    font-size: 2.5rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid $color-text-grey2;

}
