body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;


}
.header__primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 100;
        letter-spacing: 1rem;
        animation: moveInLeft 1s ease-in;
    }
    &--sub{
        display: block;
        font-weight: 400;
        animation:  moveInRight 1s ease-in;
    }
}
.about__header{
    color: $medium-green;
    font-size: 5rem;
    text-align: center;
    &__text{
        font-weight: 200;
        letter-spacing: 0.75rem;
        
    }

}
