.container{
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba($color-secondary-yellow1, 0.5), rgba($color-secondary-yellow2, 0.8)), url(../img/grass.jpg);
    clip-path: polygon(0 20% ,50% 0,100% 20%, 100% 100%, 0 100%);
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 2rem;

    &__kontakt{
        padding-top: 2rem;
        color: $color-white;
        font-size: 1.8rem;
        a{
            display: inline-block;
            width: 80%;
            color: inherit;
            transition: all 0.2s;
            &:link, &:visited{
                text-decoration: none;
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.2)
            }
        }
    }    
}
