.info{
    background-image: linear-gradient(to right bottom, rgba($color-secondary-blue1, 0.6), rgba($color-secondary-blue2, 0.6)),url(../img/skov.jpg);
    min-height: 70rem;
    clip-path: polygon(0 0, 100% 15%,100% 100%, 0 85%);
    background-position: bottom;
    background-size: cover;
    @include respond(phone){
        clip-path: polygon(0 0, 100% 1.5%,100% 100%, 0 98.5%);
        min-height: 160rem;
    }

    &__box{
        height: 45rem;
        background-color: $color-white;
        border-radius: 10px;
        margin-top: 12.5rem;
        transition: all 0.6s;
        color: $color-text-grey2;

        @include respond(phone){
            height: 30rem;
            margin-top: 4rem;

        }

        &:hover{
            box-shadow: 2rem 2rem 3rem rgba($color-white, 0.4);
            transform: translateY(-4px);
        }

        &__text{
            padding: 2rem 1.5rem 1rem 1.5rem; 
        }
        &__clicker{
            text-decoration: none;
            &:after{
                text-decoration: none;
            }

        }

    }

    &__hold{
        font-size: 2rem;
        margin:2rem;
        &--first-team{
            

        }
        &--second-team{

        }
        &span{
            display: inline-block;
        }

    }
    &__location{
        padding: 2rem 1.5rem 1rem 1.5rem; 
            
    }

}